html, body {
    width: 100%;
    height: 100%;
}

.lr{
    height: 100%;
    width: 100%;
    margin: 0;
    background: url("/assets/images/logo.png") no-repeat center center fixed;
    background-color: #95A5A6;
    background-size: cover;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.full{
    height: 100%;
    margin: 0;
    padding: 0;
}
