

<div class="bg">

    <div class="container">
        <button type="button" class="btn btn-success" id="loginButton" ng-click="homeCtrl.toLogin1()">Sign in</button>
        <button type="button" class="btn btn-success" ng-click="homeCtrl.toPP()">My profile</button>
    </div>


    <div id="questBox">
        <div class="link"  data-toggle="modal" data-target="#myModal" ng-repeat = "question in homeCtrl.Questions"  ng-click="homeCtrl.modal(question)">
             <p> {{ question.questText}} </p>
        </div>
    </div>


    <div class="modal" id="myModal" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">{{ homeCtrl.selectedQuestion.questText}}</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body" ng-repeat="answer in homeCtrl.Answers">

                    <p> {{answer}} </p>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" id="ansButton" ng-click="homeCtrl.toLogin()">Add answer</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>



    <div class="container">
        <button type="button" class="btn btn-primary" id="questButton" ng-click="homeCtrl.toLogin1()">Add question</button>
    </div>

</div>
