<div class="bg" >

    <div class="poz">
        <button data-toggle="modal" data-target="#myModal" type="button" class="btn btn-primary">Add question</button>
        <button type="button" class="btn btn-primary" ng-click="ppCtrl.showAll()">Show all</button>
        <button type="button" class="btn btn-primary" ng-click="ppCtrl.myQuest()">My questions</button>
    </div>


    <div class="centru">
        <div data-toggle="modal" data-target="#myModal1" ng-repeat="quest in ppCtrl.questions" class="rep" ng-click="ppCtrl.modal(quest)">
            <div >
                {{ quest.questText}}
            </div>

        </div>

        <div data-toggle="modal" data-target="#myModal1" ng-repeat="quest in ppCtrl.myquestions" class="rep" ng-click="ppCtrl.modal(quest)">
            <div >
                <p class="disp">{{ quest.questText}}</p>

            </div>

        </div>
    </div>


    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">

            <div class="modal-content">

                <div class="modal-header">
                    <h4 class="modal-title">Add a question</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <div class="modal-body">

                    <p>Your question</p>
                    <textarea class="form-control" rows="5" id="comment" ng-model="ppCtrl.quest"></textarea>

                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-success" ng-click = "ppCtrl.addQuest()" >Add</button>
                </div>

            </div>

        </div>
    </div>


    <div id="myModal1" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">

            <div class="modal-content">
                <div class="modal-header">

                    <h4 ng-if="!ppCtrl.editMode" class="modal-title">{{ ppCtrl.selectedQuest.questText }}</h4>
                    <textarea  class="form-control" rows="1" ng-if="ppCtrl.editMode" ng-model=" ppCtrl.selectedQuest.questText"></textarea>

                    <button  type="button" class="btn btn-danger dist" ng-click = "ppCtrl.deleteQuestion()" ng-if="ppCtrl.shw" >Delete</button>

                    <button type="button" class="btn btn-success dist" ng-if ="!ppCtrl.editMode&&ppCtrl.shw" ng-click="ppCtrl.enableEditMode()" >Edit question</button>
                    <button type="button" class="btn btn-success dist" ng-if ="ppCtrl.editMode" ng-click="ppCtrl.update()">Save edit</button>

                    <button type="button" class="close" data-dismiss="modal">&times;</button>

                </div>
                <div class="modal-body" >
                    <div ng-repeat="an in ppCtrl.answers">
                        <p >{{ an.userName }}: {{ an.ansText}} </p>
                    </div>

                </div>
                <div class="modal-footer">
                    <textarea class="form-control" rows="1" id="comment1" ng-model="ppCtrl.ans"></textarea>
                    <button type="button" class="btn btn-default" data-dismiss="modal" >Close</button>
                    <button type="button" class="btn btn-success" ng-click="ppCtrl.addAns()">Add answer</button>
                </div>
            </div>

        </div>
    </div>

</div>